@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black;
  }
  h1 {
    font-size: clamp(24px, 3vw, 36px);
    font-weight: bold;
  }
  h2 {
    font-size: clamp(21px, 3vw, 28px);
    font-weight: 500;
  }
  h3 {
    font-size: clamp(18px, 3vw, 20px);
    font-weight: medium;
  }
  h5 {
    font-size: clamp(10px, 3vw, 14px);
    font-weight: medium;
  }
  title {
    font-size: clamp(18px, 3vw, 20px);
  }
  p {
    font-size: clamp(16px, 3vw, 18px);
    font-weight: medium;
  }
}

@layer components {
  .container {
    @apply 2xl:max-w-[1320px] xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] w-full;
  }

  .bannerImages {
    @apply bg-no-repeat bg-center bg-cover;
  }

  .input:focus,
  .input:active {
    @apply border-0;
  }

  .select:focus,
  .select:active {
    @apply border-brown ring-0 outline-0;
  }
  .bg-gra-Lbrown {
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 20%,
      #f8dd9d 77%
    ) !important;
  }
  .bg-gra-red {
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 20%,
      #f7b4ab 77%
    ) !important;
  }
  .bg-gra-purple {
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 20%,
      #f3c7d5 77%
    ) !important;
  }
  .bg-gra-green {
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 20%,
      #d2f0d1 77%
    ) !important;
  }
  .bg-gra-gray {
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 20%,
      #eeeded 77%
    ) !important;
  }

  /* .image-slider-container {
    margin: 0 auto;
    width: 400px;
  } */
  .image-slider-container .slick-prev:before,
  .image-slider-container .slick-next:before {
    color: #481210;
    font-size: 40px;
  }

  .menuHover {
    @apply px-2 py-1 font-medium  text-center w-[150px];
  }
  .menuHover:hover {
    @apply border-b-[2.5px] w-fit mx-auto;
    letter-spacing: 0.075em;
  }
  .menuActive {
    @apply border-b-[2.5px] w-fit mx-auto;
    letter-spacing: 0.075em;
  }
  .hero_animate {
    transition-property: transform;
    transition-duration: 0.5s;
    transform-origin: right;
    transform: scale(1.06, 1.06);
  }
  .hero1animate {
    transition-property: transform;
    transition-duration: 0.5s;
    transform-origin: center;
    transform: scale(1.06, 1.06);
  }
}

/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
  .xl-col {
    @apply flex flex-col justify-center;
  }
}

/* lg */
@media (max-width: 1024px) {
  .lg-col {
    @apply flex flex-col justify-center;
  }
}

/* md */
@media (max-width: 768px) {
  .md-col {
    @apply flex flex-col justify-center;
  }
}

/* sm */
@media (max-width: 640px) {
}
