@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* @import "~react-image-gallery/styles/css/image-gallery.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black;
  }
  h1 {
    font-size: clamp(24px, 3vw, 36px);
    font-weight: bold;
  }
  h2 {
    font-size: clamp(21px, 3vw, 28px) !important;
    font-weight: 500;
  }
  h3 {
    font-size: clamp(18px, 3vw, 20px) !important;
    font-weight: medium;
  }
  h4 {
    font-size: clamp(12px, 3vw, 16px) !important;
    font-weight: medium;
  }
  h5 {
    font-size: clamp(10px, 3vw, 14px) !important;
    font-weight: medium;
  }
  title {
    font-size: clamp(18px, 3vw, 20px) !important;
  }
  p {
    font-size: clamp(16px, 3vw, 18px) !important;
    font-weight: medium;
  }
}
/* -------- Search Box --------- */
.bncmtB {
  position: absolute !important; /* ให้ dropdown ลอยอยู่เหนือองค์ประกอบอื่น */
  top: 100%; /* วาง dropdown ให้เริ่มต้นจากด้านล่างของกล่องค้นหา */
  left: 8.5%;
  width: 83%;
  /* background-color: red !important; */
  /* border: 1px solid #ccc; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* ให้สูงกว่าคอมโพเนนต์อื่น ๆ */
}

.dAZYal {
  /* position: relative !important;
  margin-inline: auto !important;
  width: 83% !important;
  display: flex; */

  /* border-radius: 100px !important ; */
  /* border: 1px solid #100f9c !important; */
  /* background-color: #100f9c !important; */
  @apply input input-bordered bg-transparent  rounded-full w-[300px] rounded-r-none border-brown1 flex items-center gap-2 !important;
}

.dAZYal:hover,
.dAZYal:active {
  @apply ring-2;
}

.iiTrXQ {
  position: relative !important; /* ถ้า class นี้ถูกใช้ใน dropdown */
  margin-inline: auto !important;
  width: 83% !important;
  display: flex;
  border-radius: 100px !important ;
  border: 1px solid #100f9c !important;
  /* background-color: #100f9c !important; */
}

.iiTrXQ:hover,
.iiTrXQ:active {
  @apply ring-2;
}

.my-custom-search-box {
  @apply relative mx-auto text-gray-600;
}

@layer components {
  .container {
    @apply 2xl:max-w-[1320px] xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] w-full !important;
  }

  .bannerImages {
    @apply bg-no-repeat bg-center bg-100%;
  }

  .input:focus,
  .input:active {
    @apply border-0;
  }

  .select:focus,
  .select:active {
    @apply border-brown ring-0 outline-0;
  }
  .bg-gra-Lbrown {
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 20%,
      #f8dd9d 77%
    ) !important;
  }
  .bg-gra-red {
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 20%,
      #f7b4ab 77%
    ) !important;
  }
  .bg-gra-purple {
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 20%,
      #f3c7d5 77%
    ) !important;
  }
  .bg-gra-green {
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 20%,
      #d2f0d1 77%
    ) !important;
  }
  .bg-gra-gray {
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 20%,
      #eeeded 77%
    ) !important;
  }

  .image-slider-container .slick-prev:before,
  .image-slider-container .slick-next:before {
    color: #481210;
    font-size: 40px;
    display: flex;
    justify-content: center;
  }

  .menuHover {
    @apply px-2 py-1 font-medium  text-center w-[150px];
  }
  .menuHover:hover {
    @apply border-b-[2.5px] w-fit mx-auto;
    letter-spacing: 0.075em;
  }
  .menuActive {
    @apply border-b-[2.5px] w-fit mx-auto;
    letter-spacing: 0.075em;
  }
  .navActive {
    @apply border-b-[2px] w-fit   border-brown1 text-brown1;
    letter-spacing: 0.075em;
  }
  .hero_animate {
    transition-property: transform;
    transition-duration: 0.5s;
    transform-origin: right;
    transform: scale(1.06, 1.06);
  }
  .hero1animate {
    transition-property: transform;
    transition-duration: 0.5s;
    transform-origin: center;
    transform: scale(1.06, 1.06);
  }

  .animationBigger {
    @apply transition-transform duration-300 ease-in hover:scale-105 cursor-pointer hover:z-20;
  }

  .productAnimate {
    @apply transition ease-in-out  hover:-translate-y-3;
  }

  .home_button {
    @apply text-center border rounded-full py-2 text-white bg-brown1;
  }

  .footer {
    @apply py-10 px-6;
  }

  .navSubpage {
    @apply font-medium p-2;
  }

  .underline-title::after {
    content: "";
    display: block;
    width: 55px;
    height: 3px;
    background: #683423;
    /* margin-inline: auto; */
    margin-top: 5px;
    border-radius: 200px;
  }

  .underline-product::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #683423;
    margin-inline: auto;
    margin-top: 5px;
    border-radius: 200px;
  }

  .logoNavBar {
    @apply w-6 h-6  border border-Lbrown rounded-full;
  }
}

/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
  .xl-col {
    @apply flex flex-col justify-center;
  }
}

/* lg */
@media (max-width: 1024px) {
  .lg-col {
    @apply flex flex-col justify-center;
  }
}

/* md */
@media (max-width: 768px) {
  .md-col {
    @apply flex flex-col justify-center;
  }
}

/* sm */
@media (max-width: 640px) {
}
